{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'show_categories' %}" method="POST">
        {% csrf_token %}
        <label for="category">
            Choose category
        </label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">
            Filter
        </button>
    </form>

    <div class="row mx-3">
        {% for listing in listings %}
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.name }}">
                <div class="card-body">
                <h5 class="card-title">{{ listing.name }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text"><strong>£{{ listing.price }}0</strong></p>
                <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">View more</a>
                </div>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}